@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');


.hbutton {
    background-color: rgba(76, 0, 255, 0.199);
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #483D8B;
}

h2{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #483D8B;
}

#logo{
    float: left;
    margin-left: 5px;
    margin-top: 1px;
}

#hero-image{
    height: 500px;
    width: 100%;
    background: url('../images/MindfulnessofBreath.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 10px;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#cover-text{
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height:200px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(255,140,0,.5);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

footer {
    background-color:#FFFFFF;
    color: #FFFFFF;
    height: 150px;
}

.Links{
    text-align: center;  
}

.Links li{
    display: inline;
}

.Links i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #483D8B;
}

#beachspirit{
    background-image: url('../images/yoga2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 150px;
    }

#beachspirit div{
    color: #fafafa;
    background-color: rgba(76, 0, 255, 0.397);
    width: 31%;
    height: 300px;
    float: left;
    padding: 30px 0 0 19px;
    text-align: center;
    margin: 3px;
    }

    p{
        font-size: 80%;
        margin-left: 40px;
        line-height: 1em;
    }

    #textresult p{
        font-size: 70%;
        margin-left: 30px;
        line-height: 0.5em;
    }

    #btn{
        padding-top: 30px;
    }
    #label{
        padding-top: 20px;
    }

    .label{
        font-size: 90%;
    }

@media screen and (max-width: 943px){
    #beachspirit{
        width: 100%;
        height: 600px;
        margin: 0 auto;
    }

@media screen and (max-width: 943px){
#beachspirit div{
        width: 100%;
        height: 28%;
    }

